@model LambdaForums.Models.Reply.PostReplyModel

    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">
                Оценка | @Model.PostTitle
            </div>
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl)"></div>
            <span id="headingBtn">
                <a asp-controller="Post"
                   asp-action="Index"
                   asp-route-id="@Model.PostId"
                   class="btn btn-back">
                    Вернуться к проблеме
                </a>
            </span>
        </div>

        <div class="row">
            <div id="originalPost" style="width:100%">
                <h3>
                    @Model.PostTitle
                </h3>
                <p>
                    @Model.PostContent
                </p>
            </div>
        </div>

        <div style="display:flex">
            <div class="createPostSection" style="flex:1;">
                <div class="authorBlock">
                    Вы комментируете идею как @Model.AuthorName
                </div>
                <div>
                    <input type="radio" name="comment-type" @*asp-for="IsSixHatsMode"*@ value="false" onchange="document.getElementById('hatsDiv').style.visibility = 'hidden';" />  Обычный комментарий<br />
                    <input type="radio" name="comment-type" @*asp-for="IsSixHatsMode"*@ value="true" onchange="document.getElementById('hatsDiv').style.visibility = 'visible';" />  Метод шести шляп<br />
                </div>
                <form asp-action="AddReply" method="post" id="addPostForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ReplyContent">Текст комментария: </label>
                        <textarea asp-for="ReplyContent"
                                  rows="17"
                                  class="form-control"
                                  placeholder="Ваш ответ..."></textarea>
                        <span asp-validation-for="ReplyContent" class="text-danger"></span>
                    </div>
                    <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Отправить Сообщение</button>
                    <input asp-for="AuthorId" type="hidden" />
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="ForumId" type="hidden" />
                </form>
            </div>

            <div id="hatsDiv" class="createPostSection" style="flex:1; visibility:hidden; margin:0 0 0 4px">
                <h2>Выберите роль:</h2>
                <input type="radio" name="hat" @*asp-for="Hat"*@ value="red" onchange="document.getElementById('hatDescription').innerHTML = 'Вам нужно оценить идею с точки зрения эмоций, которые она у вас вызывает.';" />
                <img src="~/images/theme/Красная.png" width="88" /> Красная шляпа<br />
                <br>
                <input type="radio" name="hat" @*asp-for="Hat"*@ value="white" onchange="document.getElementById('hatDescription').innerHTML = 'Вам нужно оценить идею с точки зрения фактов.';" />
                <img src="~/images/theme/Серная.png" width="88" /> Белая шляпа<br />
                <br>
                <input type="radio" name="hat" @*asp-for="Hat"*@ value="yellow" onchange="document.getElementById('hatDescription').innerHTML = 'Вам нужно подчеркнуть все положительные стороны данной идеи';" />
                <img src="~/images/theme/Желтая.png" width="88" />  Жёлтая шляпа<br />
                <br>
                <input type="radio" name="hat" @*asp-for="Hat"*@ value="black" onchange="document.getElementById('hatDescription').innerHTML = 'Вам нужно выделить все недостатки данной идеи.';" />
                <img src="~/images/theme/Черная.png" width="88" />  Чёрная шляпа<br />
                <br>
                <input type="radio" name="hat" @*asp-for="Hat"*@ value="green" onchange="document.getElementById('hatDescription').innerHTML = 'Вам нужно развить эту идею, расширив и дополнив её.';" />
                <img src="~/images/theme/Зеленая.png" width="88" />  Зелёная шляпа<br />
                <br> 
                <div id="hatDescription" style="margin:18px 0 0 0; color:black">
                </div>
            </div>
        </div>
    </div>

    @*<div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">
                Reply | @Model.PostTitle
            </div>
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl)"></div>
            <span id="headingBtn">
                <a asp-controller="Post"
                   asp-action="Index"
                   asp-route-id="@Model.PostId"
                   class="btn btn-back">
                    Вернуться к проблеме
                </a>
            </span> 
        </div>

        <div class="row">
            <div id="originalPost">
                <h3>
                    @Model.PostTitle
                </h3>
                <p>
                    @Model.PostContent
                </p>
            </div>
        </div>

        <div class="row">
            <div class="createPostSection">
                <div class="authorBlock">
                    Вы представляете этот ответ следующим образом @Model.AuthorName
                </div>

                <form asp-action="AddReply" method="post" id="addPostForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ReplyContent">Ответить: </label>
                        <textarea asp-for="ReplyContent"
                                  rows="20"
                                  class="form-control"
                                  placeholder="Ваш ответ..."></textarea>
                        <span asp-validation-for="ReplyContent" class="text-danger"></span>
                    </div>
                    <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Отправить Сообщение</button>
                    <input asp-for="AuthorId" type="hidden" />
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="ForumId" type="hidden" />
                </form>
            </div>
        </div>
    </div>*@